# DS-SF-36 | 03 | `pandas` | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A | Introduction to `pandas`

In [1]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [5]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'))

> ## `DataFrame`

Let's check `df`'s type:

In [ ]:
# TODO

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [6]:
df

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
995,82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,...,853.0,sqft,NaN,NaN,2006.0
996,15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,...,1886.0,sqft,3000.0,sqft,1934.0
997,15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,...,1300.0,sqft,2553.0,sqft,1941.0
998,15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,...,2678.0,sqft,NaN,NaN,1911.0
999,54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,...,886.0,sqft,NaN,NaN,2001.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [13]:
df.head()

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [14]:
# TODO
df.tail()

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
995,82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,...,853.0,sqft,NaN,NaN,2006.0
996,15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,...,1886.0,sqft,3000.0,sqft,1934.0
997,15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,...,1300.0,sqft,2553.0,sqft,1941.0
998,15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,...,2678.0,sqft,NaN,NaN,1911.0
999,54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,...,886.0,sqft,NaN,NaN,2001.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [ ]:
df.shape

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [ ]:
df.shape[0]

In [ ]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [ ]:
len(df)

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [7]:
df.dtypes

ID               int64
Address         object
Latitude         int64
Longitude        int64
IsAStudio       object
                ...
Size           float64
SizeUnit        object
LotSize        float64
LotSizeUnit     object
BuiltInYear    float64
Length: 12, dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [ ]:
df.isnull()

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [ ]:
df.isnull().sum()

Summing again will return the number of cells in the `DataFrame` with missing values.

In [ ]:
# TODO

Equivalently, we can also use the `.isnull()` function:

In [ ]:
pd.isnull(df)

We also also use `.notnull()`, its complement method:

In [ ]:
df.notnull()

In [ ]:
pd.notnull(df)

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [ ]:
df.index

In [ ]:
type(df.index)

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [ ]:
df.columns

In [ ]:
type(df.columns)

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `Size` and `SizeUnit`:

In [ ]:
# TODO

> How about just on `Address`?

In [ ]:
# TODO

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

Not passing a list will result in a `Series`:

In [12]:
df['Address']

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
                          ...
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

> Let's check the result type:

In [ ]:
# TODO

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [ ]:
# TODO

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [ ]:
# TODO

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [ ]:
# TODO

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [ ]:
df = df.set_index('ID')

In [ ]:
df.index

In [ ]:
df

> E.g., row with index 15063505:

In [ ]:
# TODO

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [ ]:
# TODO

> E.g., rows #1 and #3:

In [ ]:
# TODO

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [ ]:
# TODO

> Let's subset on that `Series`:

In [ ]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B | Wrangling the SF Housing dataset (take 2) with `pandas`

In [ ]:
properties_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'), index_col = 'ID')
transactions_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

In [ ]:
properties_df.head()

In [ ]:
transactions_df.head()

> ### Merge both `DataFrames`

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

In [ ]:
df = properties_df.merge(transactions_df,  left_index = True, right_index = True)

In [ ]:
df.columns

In [ ]:
df

> ### Sort rows by increasing ID

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [ ]:
df.sort_index(inplace = True)

In [ ]:
df

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [ ]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [ ]:
df

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df_1 = df[df.SalePriceUnit == '$']
df_1 = df_1.drop('SalePriceUnit', axis = 1)

# Scaling sale price to $M
df_1.SalePrice /= 10 ** 6

df_6 = df[df.SalePriceUnit == '$M']
df_6 = df_6.drop('SalePriceUnit', axis = 1)

In [ ]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_6])

In [ ]:
# Resort the new DataFrame
df.sort_index(inplace = True)

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [ ]:
# TODO

In [ ]:
df.IsAStudio

> ### `Size`

In [ ]:
df.SizeUnit.unique()

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [ ]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [ ]:
df.LotSizeUnit.unique()

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [ ]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

> Group #2: the `sqft` values:

In [ ]:
# TODO (use df_sqft)

> Group #3: the `ac` values:

In [ ]:
# TODO (use df_ac)

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'), index_label = 'ID')

## Part C | Advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bathrooms?

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

In [ ]:
df[ ['Baths', 'SalePrice'] ].groupby('Baths').mean()

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'))

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

In [ ]:
df

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'))

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

In [ ]:
df.DateOfSale

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [ ]:
pd.to_datetime(df.DateOfSale)

In [ ]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [ ]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df